.nav {
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 40px;

    &>a {
        text-decoration: none;
        color: #251f1f;
        font-family: 'Ysabeau SC', sans-serif;
        font-size: large;
        font-weight: 600;
        transition: all 0.7s;
    }

    &>a:focus {
        background-color: rgb(22, 23, 24);
        color: rgb(219, 230, 233);
        border-radius: 5px;
        padding: 3px;
    }
}

.nav2 {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

    &>a {
        border: #ffffff solid 3px;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color: #251f1f;
        font-family: 'Ysabeau SC', sans-serif;
        font-size: large;
        font-weight: 600;
        transition: all 0.7s;
    }

    &>a:focus {
        background-color: rgb(22, 23, 24);
        color: rgb(219, 230, 233);
        border-radius: 5px;
        padding: 8px;
    }
}

.hidden {
    display: none;
}
.visible {
    display: block;
  }

.fundo {
    justify-content: center;
    font-family: 'Ysabeau SC', sans-serif;
    align-items: center;
    background-color: rgb(20, 21, 22);
    color: rgb(219, 230, 233);
    margin: 50px auto;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    height: 85px;
    width: 40%;
    display: flex;
    flex-direction: column;

    &>h2 {
        font-size: auto;
    }

}

.container {
    display: flex;
    flex-wrap: wrap; 
    padding: 15px; 
    max-width: 100%; 
    margin-top: 30px;
    gap: 20px; 
    justify-content: center; 
}

.container-org {
    display: flex;
    padding: 7px;
    max-width: 500px;
    max-height: 500px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;

}

.ponto {
    display: flex;
    background-color: #3b994b;
    color: antiquewhite;
    justify-content: center;
}

.img {
    max-width: 300px;
    max-height: 400px;
}
.lideres{
    height: 400px;
}
.txt-lid{
    margin-top: 35px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.titulo{
    font-family: 'Ysabeau SC', serif;
    background: rgb(23, 28, 29);
    color: rgb(247, 235, 235) !important;
    margin-bottom: 15px !important
}

.espaco{
    padding: 25px;
    text-align: center;
}
.voltar{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgb(18, 20, 20);
    color: #fdfdfd;
}
.voltar:hover{
    margin-bottom: 30px;
    background: rgb(18, 20, 20);
    color: #fdfdfd !important;
}
.card-img{
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    overflow-y: auto;
}
.fundo3{
    padding: 5px;
    border-radius: 8px;
    background: rgb(229,237,238);
}
.btn {
    transition: all 0.6s !important;
    width: 400px;
    margin-top: 245px !important;
  }
.btn:hover{
    transform: scale(1.1);
    background-color: #251f1f !important;
    border: #251f1f;
}
.card-responsive {
    max-width: 90%; /* Padrão para telas pequenas */
    padding: 20px;
}

@media (min-width: 992px) { /* Ajusta o tamanho para telas grandes */
    .card-responsive {
        width: 600px; /* Largura semelhante ao código original */
        margin: 40px auto; /* Centraliza com as margens especificadas */
    }
}

/* teste para slider da header  */
body {
    margin: 0;
    overflow-x: hidden;
}

.header-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #131313;
}

.header-content {
    display: flex;
    width: 100%; /* Ajuste para quantos itens tiver */
    transition: transform 0.5s ease-in-out;
}

.header-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
    background: #131313;
}

.btn {
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background: rgba(17, 16, 16, 0.5);
    border: none;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
     
    &>a {
        text-decoration: none;
        color: #dadada;
        font-family: 'Ysabeau SC', sans-serif;
        font-size: large;
        font-weight: 600;
        transition: all 0.7s;
    }
}




